<h1 class="text-center text-info"> || JFT Sale Page || </h1>
<h3 class="w3-wide w3-opacity text-center">
    <span class="glyphicon glyphicon-thumbs-up"> </span> Sales in JellyFish <Market></Market> ...
    <span class="glyphicon glyphicon-thumbs-up"> </span>
</h3><br/>
<div class="container">
    <div class="col-md-12 ">
        <div class="col-md-3 text-center text-info jumbotron">
            <h4> Mobile Phone in All Category </h4> 
            <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
        <div class="col-md-3" >
            <div class="jumbotron">
                <div class="text-primary"> <strong> Samsung On7 Pro </strong></div>
                <div>&#8377; 4500 Only </div> 
                <span class="badge">25%</span> 
                <span class="text-success"> off </span><br/>
                <span class="text-center badge buyNowSpan">
                    Buy Now
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron">
            <div class="text-primary"> <strong> Toshiba Laptop C-640 </strong></div>
            <div>&#8377; 31000 Only </div> 
            <span class="badge">35%</span> 
            <span class="text-success"> off </span>
            <br/>
                <span class="text-center badge buyNowSpan">
                    Buy Now
            </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron">
            <div class="text-primary"> <strong>Daskin Room Heater DSKN-A90 </strong></div>
            <div>&#8377; 1500 Only </div> 
            <span class="badge">29%</span> 
            <span class="text-success"> off </span><br/>
                <span class="text-center badge buyNowSpan">
                    Buy Now
                </span>
            </div>
        </div>
        {{!--<div class="col-md-2">
            <div class="saleProd">
            <div> Samsung On7 Pro</div>
            <div>&#8377; 4500 Only </div> 
            <span class="badge">25%</span> 
            <span class="text-success"> off </span>
            </div>
        </div>--}}
    </div> <br/><br/>
    <div class="col-md-12 ">
        <div class="col-md-3 text-center text-info jumbotron">
            <h4> Laptop/Desktop/PC</h4> 
            <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
        <div class="col-md-3" >
            <div class="jumbotron">
            <div class="text-primary"> <strong> Samsung On7 Pro </strong></div>
            <div>&#8377; 4500 Only </div> 
            <span class="badge">25%</span> 
            <span class="text-success"> off </span><br/>
                <span class="text-center badge buyNowSpan">
                    Buy Now
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron">
            <div class="text-primary"> <strong> Toshiba Laptop C-640 </strong></div>
            <div>&#8377; 31000 Only </div> 
            <span class="badge">35%</span> 
            <span class="text-success"> off </span><br/>
                <span class="text-center badge buyNowSpan">
                    Buy Now
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="jumbotron">
            <div class="text-primary"> <strong>Daskin Room Heater DSKN-A90</strong></div>
            <div>&#8377; 1500 Only </div> 
            <span class="badge">29%</span> 
            <span class="text-success"> off </span><br/>
                <span class="text-center badge buyNowSpan">
                    Buy Now
                </span>
            </div>
        </div>
        {{!--<div class="col-md-2">
            <div class="saleProd">
            <div> Samsung On7 Pro</div>
            <div>&#8377; 4500 Only </div> 
            <span class="badge">25%</span> 
            <span class="text-success"> off </span>
            </div>
        </div>--}}
    </div> <br/><br/>
</div>
{{outlet}}